* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
  box-sizing: border-box;
}
:root{
  min-height: 100%;
}
body {
  background-color: white;
  text-align: start;
}
h1 {
  color: rgb(70, 172, 63);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.links-pages {
  background-color: #fae7c9;
}
li,
a {
  color: black;
  padding-right: 10px;
}
.lasagna_h1,
.plov_h1,
.ramen_h1 {
  text-align: center;
}

.plov_h1 {
  background-color: rgb(255, 123, 0);
}
h4 {
  background-color: beige;
  font-size: 25px;
}

li {
  display: inline-block;
  color: rgb(20, 20, 42);
}

ol li {
  background-color: bisque;
  display: inline-block;
}

.web_fullstack_color {
  color: #a79277;
  background-color: #fff2e1;
}
header{
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: #A5B68D;
  background-size:cover;
}
.odin-logo{
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
}
.nav div a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav div{
  height: 35px;
  width: 130px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.nav div:hover{
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.398);

}
.nav{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
main{
  background-color: #EDE8DC;
}
.discover{
  display: flex;
  height: 450px;
  justify-content: center;
  border-bottom: dashed 3px #E7CCCC;
}
.discover h2{
  display: flex;
  height:fit-content;
  position: relative;

  top: 50px;
  font-size: 40px;
}
.menu{
  position: relative;
  left: 100px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.menu img{
  height: 250px;
  border-radius: 15px;
}
.pages{
  background-color: #C1CFA1;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.odin-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages{
  display: grid;
}